TELEGRAM_TOKEN=
TELEGRAM_BOT_USERNAME=
LANGFLOW_API_KEY=
LANGFLOW_FLOW_ID=09778e1b-f424-48e9-bf6d-36d8fb2cdb90
LANGFLOW_API_URL=http://127.0.0.1:7860/api/v1/run/09778e1b-f424-48e9-bf6d-36d8fb2cdb90
ASTRA_DB_API_ENDPOINT=
ASTRA_DB_APPLICATION_TOKEN=